<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="taskApp" ng-controller="taskController">

    <div>
        <h1>Task Management</h1>

        <!-- Add Task Form -->
        <form ng-submit="addTask()">
            <input type="text" ng-model="newTask.title" placeholder="Title" required>
            <input type="text" ng-model="newTask.description" placeholder="Description" required>
            <button type="submit">Add Task</button>
        </form>

        <!-- Task List -->
        <ul>
            <li ng-repeat="task in tasks">
                {{task.title}} - {{task.description}} 
                <button ng-click="deleteTask(task._id)">Delete</button>
            </li>
        </ul>
    </div>

    <script>
        // Define Angular app
        var app = angular.module('taskApp', []);

        // Define Controller
        app.controller('taskController', function($scope, $http) {
            // Initialize tasks array
            $scope.tasks = [];
            $scope.newTask = {};

            // Fetch all tasks from the server
            $scope.loadTasks = function() {
                $http.get('http://localhost:3000/tasks').then(function(response) {
                    $scope.tasks = response.data;
                });
            };

            // Add a new task
            $scope.addTask = function() {
                $http.post('http://localhost:3000/tasks', $scope.newTask).then(function() {
                    $scope.loadTasks();  // Reload tasks after adding
                    $scope.newTask = {}; // Clear the input fields
                });
            };

            // Delete a task by ID
            $scope.deleteTask = function(id) {
                $http.delete('http://localhost:3000/tasks/' + id).then(function() {
                    $scope.loadTasks(); // Reload tasks after deletion
                });
            };

            // Initial load of tasks
            $scope.loadTasks();
        });
    </script>

</body>
</html>
